:root {
  --black: black;
  --main: rgb(29, 233, 29);
  --accent: rgb(72, 97, 72);
  --text: white;
}

.land {
  text-align: center;
  background: var(--black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
  width: 60%;
  height: 200px;
  margin: 0 auto;
  background: var(--main);
  font-size: 1000%;
  border-radius: 20px;
}

.text {
  color: white;
}

.accent {
  color: var(--accent)
}

button {
  background: var(--main);
  padding: 20px 50px;
  border-radius: 50px;
  max-width: 60%;
  margin: 0 auto;
  color: white;
  font-size: 150%;
  font-weight: 300;
}